@charset "utf-8";

   #header {width:100%; height:192.95px; margin:0 auto;}
    #header > .box {width:100%; height:42px; background-color: #3c8461;}
    #header > .box > a {text-align: center; text-decoration: none; margin: 0px 0px 0px 0px; color: #fff; display: block; font-size: 15px large; padding:13px 0px 0px 0px;}

    /*로그인*/
    #header > .box2 {width:1160px; height:97px; margin:0 auto;}
    .box2 > .top {width:182px; height:31px; background-color:#FFFFDE; float:left; margin:10px 0px 0px 0px; border-radius:15px;}
    .box2 > .top > p {font-size:13px; margin:10px; color:#828282;}
    .box2 > .top > p > span {color:#3c8461; font-weight: bold;}

    .login {width:171.58px; height:30px; float:right; margin:10px 10px 0px 0px;}
    .login > ul > li {color:#ddd; float:left; margin:5px 10px 0px 0px;}
    .login > ul > li > a {text-decoration:none; color:#828282; font-size: 10px;}
    .login > ul > li > a > span {text-decoration:none; color:#3c8461; font-size: 10px;}

    /*로고*/
    #logo {width:270px; height:52px; margin:0 auto; padding: 30px 0px 0px;}
    #logo > a > img {width:100%; height:100%;}

    /*네비*/
    #header > nav {width:1160px; height:53.95px; margin:0 auto;}
    nav > ul > li {float:left; text-align: center; width: 115px; padding:10px 0px 0px 0px; color:#3c8461; font-size:16px; font-weight: bold; line-height: 45px;}
    nav > ul > li:nth-of-type(1) {margin: 0px -60px;}
    nav > ul > li:nth-of-type(3) {margin: 0px -45px; color: #ddd}
    nav > ul > li:nth-of-type(5) {margin: 0px -12px;}
    nav > ul > li:nth-of-type(8) {margin: 0px -10px;}
    nav > ul > li > .sub {width: auto; height: auto; text-align: center; position:absolute; box-sizing: border-box; display: none; background-color: #fff;}
    nav > ul > li > .sub > li { width:115px; position: relative;}
    nav > ul > li > .sub > .top {width:0px; height:2px; background-color: #3c8461; margin-bottom: 8px;}
    nav > ul > li > .sub > li > a {color: #000; display: block; padding: 3px 0px; background-color: #fff;}
    nav > ul > li > .sub > li > a:hover {color: #046142; background-color: #eee;}
    nav > ul > li > a {text-decoration:none;color:#000;}
    nav > ul > .g1 {text-decoration:none;color:#000;}
    nav > ul > li > a:hover {color:#3c8461;}
    nav > .textbox > .textbox2 {float:right; padding:0px 10px 0px 20px; width:170px; height:36px; margin:5px 0px 0px 0px; border-radius:20px; border:0; background-color:#F6F6F6;}
    nav > .textbox > .image1 {width:22px; height:21px; float:right; margin:14px 70px 0px 10px}
    nav > .textbox > .image2 {width:20px; height:19px; float:right; margin:14px 0px 0px 0px;}

   


      /*정보*/
      #footer2 {width:1160px; height:230px; padding:40px 0px 0px; margin:0 auto;}
      #footer2 > .ww {width: 350px; height:200px; float: left; margin:30px 0px 0px 27px;} 
      #footer2 > .ww > a > h6 {width:180px; float: left ; padding:0 0 15px ; font-size: 17px; color: #046142;}
      #footer2 > .ww > a > h6 > span {font-size: 15px; color: #9e9e9e;}
      #footer2 > .ww > .www {width:350px; height:160px; float: left; border-top:3px solid #046142 ;}
      #footer2 > .ww > .www > h1 {font-size:32px; color:#303030; margin:25px 0px 15px 0px ;}
      #footer2 > .ww > .www > ul > a {font-size:12px; margin:10px 0px 0px; color:#828282;}
      #footer2 > .ww > .www > ul > li {text-decoration:none;}
      #footer2 > .ww > .www > ul > li > a > pre {font-size:12px; margin:25px 0px 0px 0px; color:#333;}
      #footer2 > .ww > .www > ul > li > a > pre > span {color:#9e9e9e}
      #footer2 > .ww > .www > ul > .tlqkf {margin:20px 0px 0px 0px; font-size:14px; color: #333;}
      #footer2 > .ww > .www > h2 {font-size:16px; color:#333; padding:30px 0px 0px; }
      #footer2 > .ww > .www > a > img {float: right; width: 90px; height:35px; margin:50px 0px 0px 0px; }
      #footer2 > .ww > .www > .wwww > a > button {float: right; width: 90px; height:35px; margin:0px -90px 10px 10px; border-radius:5px; border: 1px;}
      #footer2 > .ww > .www > .wwww > a > button:hover {cursor: pointer;}
      #footer2 > .ww > .www > ul > li > a > img {float: left; margin:60px 10px 0px 0px;} 



     #footer {width:100%; height:210px; margin:0 auto; padding:50px 0px 0px 0px;}
     .q {width:100%px; height:120px; padding:45px 0px; background-color: #f7f7f7; margin:0 auto; background-color: #333;}
     .q > .qq {width:1160px; height:20px; padding:0px 10px 15px 50px; margin:0 auto;} 
     .q > .qq > ul > li {float: left; font-size:14px; margin:0px 0px 0px 10px; color: #fff;}
     .q > .qq > ul > li > a {float: left; font-size:14px; color: #fff;}
     .q > .qqq > ul {width:1170px; height:40px; padding:0px 0px 0px 50px; margin:0 auto;}
     .q > .qqq > ul > li {float: left; font-size:13px; color:#fff; margin:0px 0px 0px 10px;}
     .q > .qqq > ul > li {float: left; font-size:13px; color:#fff; margin:0px 0px 0px 10px; line-height: 17px;}
     .q > .qqq > p {color: #fff; font-size:13px; padding: 20px 460px 0px 60px; color:#ffffff80; text-align: center;}
